coverage/
*.o
*.exe
*.ilk
*.pdb
*.gcda
*.gcno
*.exe
*.out
googletest-release-*/
gtest/
*.ut
*.ppm
*.gif
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/